html {
  background-color: #ddd;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-size: 30px;
  text-shadow: 2px 2px rgb(0 0 0 / 52%);
  color: #fff;
  text-align: center;
  padding-bottom: 20px;
  margin-bottom: 40px;
  border-bottom: 1px solid #000;
}

.crypto-punk-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.crypto-punk {
  margin-bottom: 30px;
  text-align: center;
}

.crypto-punk img {
  width: 200px;
}